snippet tx
	import Data.Text (Text (..))
	import Data.Text qualified as T
snippet mp
	import Data.Map (Map (..))
	import Data.Map qualified as M
snippet st
	import Data.Set (Set (..))
	import Data.Set qualified as S
snippet vc
	import Data.Vector (Vector (..), (//))
	import Data.Vector qualified as V
snippet sq
	import Data.Sequence (Seq (..), (><), (|>), (<|))
	import Data.Sequence qualified as Seq
